<h2>All Ingredients</h2>


<ul>
  <% @ingredients.each do |ingredient| %>
    <li>
      <%= link_to ingredient.name, ingredient %>
      <br>
    </li>
  <% end %>
</ul>

<%= link_to "Home", user_path(@user) %>

