<h1>Your Pantries</h1>

<ul>

  <% @pantries.each do |pantry| %>
    <li>
      <%= link_to pantry.name, pantry %>
      <br>
    </li>
  <% end %>
</ul>

<div>
<%= link_to "Update Your Pantry", new_pantry_ingredient_path %>
</div>

<%= link_to "Home", user_path(@user) %>