<h3>Welcome to</h3>
<h1>The Pantry</h1>
<p>Know what you have. Get what you need.</p>

<div>
    <%= link_to "Ingredients", ingredients_path(@ingredients) %>
</div>
<div>
    <%# <%= link_to "Your Pantries", pantry_path(@pantry)%>
</div>
<div>
    <%# <%= link_to "Shopping List", shopping_list_path(@shoppinglist)%>
</div>
