<h3>Welcome to</h3>
<h1>The Pantry</h1>
<p>Know what you have. Get what you need.</p>

<div>
    <%= link_to "Ingredients", ingredients_path(@ingredients) %>
</div>
<div>
    <%= link_to "Your Pantries", pantries_path(@pantries) %>
</div>

